{% comment %} Lumelle Product Spotlight React Mount Point {% endcomment %}

<div id="react-product-spotlight" class="lumelle-product-spotlight-section"></div>

{% schema %}
{
  "name": "Product Spotlight (React)",
  "settings": [],
  "presets": [
    {
      "name": "Product Spotlight (React)"
    }
  ]
}
{% endschema %}
