{% comment %} Lumelle TikTok React Mount Point {% endcomment %}

<div id="react-tiktok" class="lumelle-tiktok-section"></div>

{% schema %}
{
  "name": "Lumelle TikTok (React)",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle TikTok (React)"
    }
  ]
}
{% endschema %}
