{% comment %} Lumelle Hero Section {% endcomment %}
<div id="react-hero"></div>

{% schema %}
{
  "name": "Lumelle Hero",
  "presets": [
    {
      "name": "Lumelle Hero"
    }
  ]
}
{% endschema %}
