{% comment %} Lumelle Trust Bar React Mount Point {% endcomment %}

<div id="react-trust-bar" class="lumelle-trust-bar-section"></div>

{% schema %}
{
  "name": "Lumelle Trust Bar (React)",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle Trust Bar (React)"
    }
  ]
}
{% endschema %}
