{% comment %} Lumelle Product Spotlight Section {% endcomment %}
<div id="react-product-spotlight"></div>

{% schema %}
{
  "name": "Lumelle Product Spotlight",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Lumelle Product Spotlight"
    }
  ]
}
{% endschema %}
