{% comment %} Lumelle TikTok Section {% endcomment %}
<div id="react-tiktok"></div>

{% schema %}
{
  "name": "Lumelle TikTok",
  "presets": [
    {
      "name": "Lumelle TikTok"
    }
  ]
}
{% endschema %}
