{% comment %} Lumelle PDP How To React Mount Point {% endcomment %}

<div id="react-pdp-howto" class="lumelle-pdp-howto-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP How To",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP How To (React)"
    }
  ]
}
{% endschema %}
