{% comment %} Lumelle Benefits Section {% endcomment %}
<div id="react-benefits"></div>

{% schema %}
{
  "name": "Lumelle Benefits",
  "presets": [
    {
      "name": "Lumelle Benefits"
    }
  ]
}
{% endschema %}
