{% comment %} Lumelle PDP Features React Mount Point {% endcomment %}

<div id="react-pdp-features" class="lumelle-pdp-features-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP Features",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP Features (React)"
    }
  ]
}
{% endschema %}
