{% comment %} Lumelle PDP TikTok React Mount Point {% endcomment %}

<div id="react-pdp-tiktok" class="lumelle-pdp-tiktok-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP TikTok",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP TikTok (React)"
    }
  ]
}
{% endschema %}
