{% comment %}
  Lumelle Email Capture Section - React version
  Mounts the EmailCapture React component from lumelle-bundle.js
{% endcomment %}

<div id="react-email"></div>

{% schema %}
{
  "name": "Lumelle Email Capture",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Lumelle Email Capture"
    }
  ]
}
{% endschema %}
