{% comment %} Unified PDP section - combines all React components into a single root {% endcomment %}
<div id="react-pdp" class="lumelle-pdp-container" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>
