{% comment %} Lumelle Reviews Section {% endcomment %}
<div id="react-reviews"></div>

{% schema %}
{
  "name": "Lumelle Reviews",
  "presets": [
    {
      "name": "Lumelle Reviews"
    }
  ]
}
{% endschema %}
