{% comment %} Lumelle PDP Reviews React Mount Point {% endcomment %}

<div id="react-pdp-reviews" class="lumelle-pdp-reviews-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP Reviews",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP Reviews (React)"
    }
  ]
}
{% endschema %}
