{% comment %} Lumelle PDP Price React Mount Point {% endcomment %}

<div id="react-pdp-price" class="lumelle-pdp-price-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP Price",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP Price (React)"
    }
  ]
}
{% endschema %}
