{% comment %} Lumelle Email Capture React Mount Point {% endcomment %}

<div id="react-email" class="lumelle-email-section"></div>

{% schema %}
{
  "name": "Lumelle Email Capture (React)",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle Email Capture (React)"
    }
  ]
}
{% endschema %}
