{% comment %} Lumelle Hero React Mount Point {% endcomment %}

<div id="react-hero" class="lumelle-hero-section"></div>

{% schema %}
{
  "name": "Lumelle Hero (React)",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle Hero (React)"
    }
  ]
}
{% endschema %}
