{% comment %} Lumelle Bundle Cards React Mount Point {% endcomment %}

<div id="react-bundle-cards" class="lumelle-bundle-cards-section"></div>

{% schema %}
{
  "name": "Bundle Cards (React)",
  "settings": [],
  "presets": [
    {
      "name": "Bundle Cards (React)"
    }
  ]
}
{% endschema %}
