{% comment %} Lumelle PDP Essentials React Mount Point {% endcomment %}

<div id="react-pdp-essentials" class="lumelle-pdp-essentials-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "Lumelle PDP Essentials",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP Essentials"
    }
  ]
}
{% endschema %}
