{% comment %}
  Lumelle Trust Bar Section - React Embed Version
  This is the small scrolling marquee below the hero
{% endcomment %}

{%- style -%}
#react-trust-bar {
  min-height: 40px;
}
#react-trust-bar > div {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
{%- endstyle -%}

<div id="react-trust-bar"></div>

{% schema %}
{
  "name": "Lumelle Trust Bar",
  "presets": [
    {
      "name": "Lumelle Trust Bar"
    }
  ]
}
{% endschema %}
