{% comment %} Lumelle PDP Bottom CTA React Mount Point {% endcomment %}

<div id="react-pdp-bottom-cta" 
     class="lumelle-pdp-bottom-cta-section" 
     data-handle="{{ product.handle }}" 
     data-variant-id="{{ product.selected_or_first_available_variant.id }}"
     data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "PDP Bottom CTA",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP Bottom CTA (React)"
    }
  ]
}
{% endschema %}
