{% comment %}
  Lumelle Trust Bar Section - React Embed Version
{% endcomment %}

<div id="react-trust-bar"></div>

{% schema %}
{
  "name": "Lumelle Trust Bar",
  "presets": [
    {
      "name": "Lumelle Trust Bar"
    }
  ]
}
{% endschema %}
