{% comment %} Lumelle PDP FAQ React Mount Point {% endcomment %}

<div id="react-pdp-faq" class="lumelle-pdp-faq-section" data-handle="{{ product.handle }}" data-product="{{ product | json | escape }}"></div>

{% schema %}
{
  "name": "Lumelle PDP FAQ (React)",
  "settings": [],
  "presets": [
    {
      "name": "Lumelle PDP FAQ (React)"
    }
  ]
}
{% endschema %}
