{% comment %} Lumelle Bundle Cards Section {% endcomment %}
<div id="react-bundle-cards"></div>

{% schema %}
{
  "name": "Lumelle Bundle Cards",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Lumelle Bundle Cards"
    }
  ]
}
{% endschema %}
